* {
    font-family: 'Poppins',sans-serif;
}

.blogpage-body {
    margin: 0;
    padding: 0;
    background-color: #161513;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header{
    width: 100%;
    background-color: #222222;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 3rem;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    background-color: #DF5F17;
    color: white;
    margin-right: 2rem;
}

.user-box1{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    border: 1.5px solid#DF5F17;
    margin-right: 2rem;
}

.user-box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    overflow: hidden;
}

.user-box2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropdown {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
    color:white;
    height: 12rem;
    position: absolute;
    top: 4rem;
    right: 0;
    width: 7rem;
}

.dropdown button {
    background: #222222;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    color: white;
    width: 99%;
    padding-left: 1rem;
    height: 3rem;
}

.dropdown1{
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: #222222;
    color:white;
    height: 4rem;
    position: absolute;
    top: 4rem;
    right: 0;
    width: 6rem;
    height: 4rem;
}

.dropdown1 button {
    background: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    width: 100%;
    height: 50%;
}

.dropdown1 button:hover, .dropdown button:hover {
    background: #3a3a3a;
}

.dropdown a, .dropdown1 a {
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: small;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 25%;
    width: 85%;
    padding-left: 1rem;
}

.dropdown1 a{
    height: 50%;
}

.dropdown a:hover, .dropdown1 a:hover {
    background: #3a3a3a;
}

.ham{
    display: none;
}

.blogpage-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    gap: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.blogpage-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 2px solid #df5f17;
    padding-bottom: 1rem;
    gap: 1rem;
}

.blogpage-header h1 {
    font-weight: 600;
    font-size: xx-large;
    margin: 0;
}

.blogpage-header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.blogpage-header2 h4 {
    margin: 0;
    font-weight: 300;
}

.blogpage-header2-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.blogpage-header2-left h4 {
    margin: 0;
    font-weight: bold;
}

.blog-profile {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
}

.blog-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blogpage-blog {
    text-align: justify;
    font-weight: 200;
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    gap: 2rem;
}

.comments h3 {
    margin: 0;
    font-weight: 500;
}

.comments-part1 {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    width: 100%;
}

.comments-part1 input {
    border: none;
    outline: none;
    border-bottom: 1.5px solid #df5f17;
    background:#161513;
    color: white;
    width: 90%;
}

.comment-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    width: 100%;
}

.comment {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #3a3a3a;
    width: 100%;
}


.big-comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.comment-header {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.comment-owner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
}

.comment-owner h3 {
    margin: 0;
    font-weight: 400;
    font-size: small;
}

.comment-owner h3:first-of-type{
    font-weight: 600;
}

.comment-owner h3:nth-of-type(2){
    color: rgb(189, 189, 189);
}

.comment-text {
    text-align: justify;
    align-self: flex-start;
    font-size: small;
}

.blog-options {
    display: flex;
    align-items: center;
    gap: 2rem;
    align-self: flex-start;
    height: 2rem;
}

.blog-options-small{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.share-circular {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #161513;
    width: 2.5rem;
    height: 2.5rem;
}

.share-circular:hover {
    background: #3a3a3a;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 9.5rem;
    background-color: #222222;
    color: white;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

footer h3, footer h4 {
    margin: 0;
}

.footer-part1{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.footer-left h4 {
    font-weight: 400;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.footer-right h3 {
    font-weight: 600;
    font-size: larger;
}

.socials {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.copyright {
    font-weight: 400;
    font-size: small;
}

.footer-icons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* update comment overlay*/
.comment-overlay-big{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.comment-overlay{
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #3a3a3a;
    border-radius: 10px;
}

.comment-overlay-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 1rem;
}

.comment-overlay-header h3 {
    margin: 0;
    font-weight: 500;
    font-size: medium;
}

#update-comment-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    align-items: center;
    margin-bottom: 1.5rem;
}

#update-comment{
    width: 98%;
    height: 10rem;
    resize: none;
    background-color: #3a3a3a;
    border: 1.5px solid #DF5F17;
    color: white;
    border-radius: 10px;
}

#update-comment-form button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DF5F17;
    color: white;
    border: none;
    border-radius: 20px;
    width: 7rem;
    height: 2.2rem;
}

.options-menu {
    position: absolute;
    right: 0;
    top: 2.5rem;
    width: 10rem;
    height: 6rem;
    background-color: #3a3a3a;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    overflow: hidden;
}

.options-menu-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.options-menu-header img {
    margin-right: 0.5rem;
    cursor: pointer;
}

.update-btn, .delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2rem;
    background: #3a3a3a;
    color: white;
    border: none;
    border-top: 0.5px solid rgb(162, 162, 162);
    cursor: pointer;
}

.update-btn:hover, .delete-btn:hover {
    background-color: #5f5f5f;
}


@media only screen and (max-width: 768px) {
    .logo {
        width: 35px;
        height: 20px;
    }
    
    nav {
        display: none;
    }
    
    .user-box1{
        display: none;
    }
    
    .ham {
        display: flex;
        margin-right: 1rem;
    }

    footer {
        height: 14rem;
    }

    .footer-part1{
        flex-direction: column;
        gap: 2rem;
    }

    .blogpage-header{
        gap: 2rem;
    }

    .blogpage-header h1 {
        font-size: x-large;
        text-align: left;
    }

    .blogpage-header2 {
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }

    .comments {
        width: 100%;
    }

    .comments-part1 input {
        width: 80%;
    }
    
}

/* loading animation*/

.loader {
    display: none;
    justify-content: center;
    align-items: center;
}
  
.dot {
    width: 12px;
    height: 12px;
    background-color: #DF5F17;
    border-radius: 50%;
    margin: 0 5px;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}
  
.dot1 {
animation-delay: -0.32s;
}

.dot2 {
animation-delay: -0.16s;
}

.dot3 {
animation-delay: 0s;
}

.loader-big {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.loader1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogpage-img {
    width: 100%;
}

.blogpage-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
